@{
    ViewData["Title"] = "Home Page";
}






<div class="landing">
    <div class="content">
        <h1 class="title-frontpage-start"> Välkommen till Westcoasteducation</h1>
        <h4>--- Vi gör det möjligt ---</h4>
    </div>

</div>
    
